---
import { getCollection, getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
const preface = await getEntry("docs", "en/preface");
const { Content, headings } = await preface.render();
---

<Layout>
  <div
    class="prose prose-test justify-center justify-items-center max-w-none lg:prose-xl"
  >
    <h1>{preface.data.title}</h1>
    <Content />
  </div>
</Layout>
