---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
const whyNixos = await getEntry("general", "whynixos");
const { Content, headings } = await whyNixos.render();
---

<Layout>
  <div class="prose prose-test justify-center justify-items-center max-w-none lg:prose-xl">
      <h1>{whyNixos.data.title}</h1>
      <Content />
  </div>
</Layout>
