---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
export async function getStaticPaths() {
  const pages = await getCollection("docs", ({ id }) => {
    return id.includes("preface");
  });

  const paths = pages.map((entry) => {
    const [lang, ...slug] = entry.id.split("/");
    return {
      params: { lang, slug: slug.join("/") || undefined },
      props: entry,
    };
  });
  return paths;
}

const entry = Astro.props;
const { Content } = await render(entry);
---

<Layout>
  <div class="p-6">
  <div
    class="ms-auto prose prose-colors justify-center justify-items-center prose-sm md:prose-base lg:prose-lg xl:prose-xl" 
  >
    <h1>{entry.data.title}</h1>
      <Content />
    </div>
  </div>
</Layout>
