---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
export async function getStaticPaths() {
  const pages = await getCollection("docs");

  const paths = pages.map((entry) => {
    const [lang, ...slug] = entry.id.split("/");
    return {
      params: { lang, slug: slug.join("/") || undefined },
      props: entry,
    };
  });

  return paths;
}

const entry = Astro.props;
const { Content } = await render(entry);
---

<Layout>
  <div
    class="prose prose-colors justify-center justify-items-center prose-sm px-2 md:prose-base lg:prose-lg xl:prose-xl mx-auto"
  >
    <h1>{entry.data.title}</h1>
    <Content />
  </div>
</Layout>
