---
import Navbar from "@components/Navbar.astro";
import Sidebar from "@components/Sidebar.astro";
import "@styles/theme.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sherpa - Nix for Noobs</title>
  </head>
  <body class="bg-theme-900">
    <div
      class="m-auto w-full h-max min-h-full flex flex-grow text-theme-400 relative"
    >
      <header
        class="fixed top-0 justify-center justify-items-center w-full bg-theme-900 z-20"
      >
        <nav class="self-center sm:mx-10 lg:mx-20 bg-theme-900">
          <Navbar />
        </nav>
        <div class="bg-theme-1000 w-full h-0.5"></div>
      </header>
      <div class="">
        <Sidebar />
      </div>
      <div class="container m-auto pt-24 md:ml-80 relative">
        <slot />
        <footer
          class="text-theme-400 w-fit inset-0 mx-auto items-center text-center justify-center top-[100%] self-end absolute p-4"
        >
          <span class="text-sm"
            >Code licensed in GPLv3, Content licensed under CC-BY-SA. More
            information on <a href="https://github.com/the-unnamed-nug/sherpa"
              >Github<a>.</a>
            </a>
          </span>
        </footer>
      </div>
    </div>

    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </body>
</html>
